<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="false"
        android:enableOnBackInvokedCallback="true"
        tools:replace="android:allowBackup,android:enableOnBackInvokedCallback">

        <activity android:name=".MainActivity" tools:node="remove" />

        <activity
            android:name="com.luisete.queda.E2EShoppingActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask" />

        <activity
            android:name=".E2ETestControlActivity"
            android:exported="true"
            android:theme="@style/Theme.Queda"
            android:windowSoftInputMode="adjustResize"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="queda-e2e" />
            </intent-filter>
        </activity>
    </application>
</manifest>
